{% extends 'emails/base.html' %}
{% block title %} <title>Створити новий пароль для Way To Home</title>{% endblock %}
{% block explain %}
    <span class="preheader">Використайте посилання, щоб скинути старий пароль</span>
{% endblock %}
{% block content_email %}
    <p>Нещодавно Ви зробили спробу відновлення паролю для свого облікового запису. Використайте кнопку нижче, щоб скинути старий пароль.</p>
{% endblock %}
{% block link_token %} <a href="http://{{domain}}/api/v1/user/reset_password/{{token}}" class="button-blue" target="_blank">Скинути пароль</a>
{% endblock %}
{% block attention %}
    <p>Якщо Ви не здійснювали ці дії, будь ласка, проігноруйте даний лист.</p>
{% endblock %}
{% block trouble_link_email %}
    <p class="sub">http://{{domain}}/api/v1/user/reset_password/{{token}}</p>
{% endblock %}