.AvatarDiv {
    position: absolute;
    right: 0.5%;
    top: 3%;
}

.Title {
    position: absolute;
    left: 10%;
    top: 8%;
    display: flex;
    text-transform: uppercase;
    font-size: 2rem;
    font-style: italic;
    font-family: "Helvetica", cursive;
    font-weight: bold;
    color: #2a218c;
}
