.Avatar {
    position: fixed;
    right: 2.5%;
    top: 0;
}

.Menu {
    position: fixed;
    right: 12%;
    top: 70px;
}

.moreVertIcon{
    position: fixed;
    right: 0.5%;
    top: 8px;
}

.Title > p {
    margin: 0;
    margin-top: .4rem;
}

.Title {
    position: fixed;
    top: 0px;
    left: 0;
    width: 300px;
    height: 40px;
    cursor: pointer;
    background-color: #3f51b5;
    text-align: center;
    font-size: 1.5rem;
    z-index: 1101;
    color: white;
}
