DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'HOST': 'localhost',
        'USER': '<Your User Name>',
        'PASSWORD': '<Your Password>',
        'NAME': '<DB Name>',
    }
}