.profileTabDiv{
   margin: 2% auto;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.firstName{
   display: flex;
   width: 25rem;
   flex-direction: column;
}

.lastName{
   margin-top: 2rem;
   display: flex;
   width: 25rem;
   flex-direction: column;
}

.phoneNumber{
   margin-top: 2rem;
   display: flex;
   width: 25rem;
   flex-direction: column;
}

.email{
   margin-top: 2rem;
   display: flex;
   width: 25rem;
   flex-direction: column;
}

button.saveButton{
    margin-top: 2rem;
}

button.deleteButton{
    margin-top: 2rem;
}
