.profileTabDiv{
   margin: 2% auto;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.profileFields{
   margin-top: 0.5rem;
   display: flex;
   width: 20rem;
   flex-direction: column;
}

button.saveButton{
    margin-top: 2rem;
}

.emailField{
   text-align: center;
}