.LoginFormDiv{
    position: relative;
    margin: 10% auto;
    padding: 16px;
    z-index: 10;
    height: auto;
    width: 300px;
    background: rgba(197, 197, 197, 0.685);
    border-radius: 5%;
    text-align: center;
    display: block;
}

.ResetPasswordButton{
    margin-top: 16px;
}

.loginButtons{
    margin-top: 16px;
}

button.confirmButton{
    margin-right: 1rem;
}

div.loginField{
    margin-top: 0;
}

.blow svg:hover {
    cursor: pointer;
    animation-name: icon_rotate;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}

@keyframes icon_rotate {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}
