.LoginFormDiv{
    position: relative;
    margin: 10% auto;
    padding-bottom: 16px;
    z-index: 10;
    height: auto;
    width: 250px;
    background: rgba(197, 197, 197, 0.685);
    border-radius: 5%;
    text-align: center;
    display: block;
}

.loginButtons{
    margin-top: 16px;
}

.confirmButton{
    margin-right: 1rem!important;
}
