.settingsForm{
    position: fixed;
    top: 8%;
    left: 20%;
    right: 20%;
    z-index: 10;
    height: 70%;
    width: auto;
    background: rgba(197, 197, 197, 0.685);
}

.settingsTab{
    width: 100%;
}

.settingsComeBack{
    cursor: pointer;
    position: fixed;
    top: 68px;
    left: 90px;
    width: 150px;
    height: 45px;
    background: #3F51B5;
}

.settingsLink{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: "Al Bayan";
    font-size: 14.5px;
    position: absolute;
    top: 12px;
    left: 10px;
}
